
.name{
  color:blue;
}
body{
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to top, rgb(245 165 164), #ffffff);
  background-attachment: fixed; /* keeps background fixed while scrolling */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  scroll-margin-top: 300px;
}
.contact-style{
    display: contents;
}
.centent-container{
  padding:10px;
  padding-top: 2px;
}

.picture{
height: 200px;
    border-radius: 100px;
    padding-top: 42px;
}
.welcome-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.welcome-section h1 {
      color: #811d1d;
    margin-bottom: 20px;
    font-weight: bold;
}

.welcome-section p {
  font-size: 1rem;
  color: #570101;
}

.bg-color{
    background-color:rgb(187 52 52 / 80%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
}
.nav-button{
    border-width: 0px;
    background-color: transparent;
}

.option-box{
    display: flex !important;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-align: right;
    color:white;
}
.contact{
background-color: #9f798680;
    padding: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 110px;
    align-content: center;
    justify-content: center;
    align-items: center;
  margin:5px;
}

@media screen and (max-width:659px){
.option-box{
    display: flex !important;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-align: right;
    padding-right: 15px;
}
.contact-style{
    display: contents;
}
.bg-color {
    background-color: rgb(187 52 52 / 80%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1200px;
}
}
@media screen and (min-width:760px){
  .welcome-section{
max-width: 1200px;
  margin: 0 auto;
  padding: 75px 20px;
  text-align: center;
  }

}



















